@import "variables";

.btn {
  font-size: 17px !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  height: 38px !important;
}

.btn-primary {
  font-family: "Helvetica Neue", Lato, Helvetica,Arial,sans-serif;
  background-color: $blue !important;
  border: solid 1px $blue !important;
  color: $white;
  padding: 10px 23px;
  font-weight: 300;
  letter-spacing: 0.75px;
  outline: none!important;
  float: right;

  &:hover {
    color: $white !important;
  }
}

@media (max-width: 600px) {
  .btn {
    font-size: 15px !important;
    height: 30px !important;
    line-height: 30px !important;
  }
}

.close-error {
  float: right;
  margin-top: -10px;
  color: lightgray;
  font-family: sans-serif;
  text-shadow: 2px 2px grey;
  cursor: pointer;
}
