@import "./variables";

.donations-list {
  a {
    color: $grey !important;
  }
}

.basil.card {
  min-width: 320px;
  box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.2);

  .card-content {
    height: $card-size;
    padding: 0;
  }

  .card-action {
    text-align: center;
    border: none;
  }

  .donate-form {
    max-width: 405px;
    margin: 0 auto;
    padding: 30px;
  }

  .title {
    margin: 40px 0;
    font-size: 20px;
  }

  .color-picker {
    margin: 10px 0;
  }

  #owner {
    width: 323px;
    margin: 10px 0;
    font-size: 14px;
  }

  .input-field {
    margin-top: 15px;
    padding-left: 0;
    font-size: 12px;

    label {
      font-family: inherit;
      font-size: 14px;
    }
  }

  .submit {
    text-align: right;

    .btn.donate {
      margin: 8px;
      background: none;
      border: 2px solid $violet;
      border-radius: 50px;

      font-size: 12px;
      color: $violet;
    }
  }
}

.basil-icon {
  position: relative;
  height: $card-size;

  img {
    $size: 150px;
    display: block;
    height: $size;
    margin: auto;
    margin-top: $card-size / 2 - $size / 2;
  }

  .notch {
    $size: 15px;
    position: absolute;
    top: $card-size / 2 - $size / 2; 
    left: 0; 
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid white;
  }
}

.donationColor {
	text-align: center;
    padding: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.titleList {
    margin: 150px 0 50px;
    font-size: 2.4rem;
    line-height: 110%;
    text-align: center;
    font-family: roboto;
    font-weight: 300;
    color: grey;
}

.donationAddress {
    text-align: center;
    font-size: 0.7em;
    padding: 15px 0;
    color: gray;
}

.secondary-content.donationValue {
    float: none;
    font-size: 1.5em;
    font-family: roboto;
    font-weight: inherit;
    text-align: center;
    padding: 15px 0 0 0;
    color: #4a4a4a;
}

.donationRgb {
	color: white;
}

.donationCard {
  padding: 0;
  overflow: hidden;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.05);
}