@import "variables";

.container.main-nav {
  background-color: $white;
  box-shadow: none;
  margin-bottom: 50px;

  .search-contract {
    width: 350px;
    font-size: 14px;
    text-align: right;
  }

  .brand-logo {
    position: relative;
    font-family: Lato;
    font-size: 25px;
    padding-top: 10px;
  }

  .nav-wrapper {
    margin: auto;
  }

  ul a {
    color: $grey;
  }

  li {
    margin-left: 30px;
  }
}