@import "./css/variables";
@import "./css/fonts";

html {
  background-color: $white;
  font-family: 'SourceRegular', Lato, serif !important;
}

html, body{
  -webkit-font-smoothing: antialiased;
}

.no-margin {
  margin: 0 !important;
}

.container {
  width: 65% !important;
  max-width: 65% !important;
  padding-top: 15px;
}

@import "./css/buttons";
@import "./css/navbar";
@import "./css/forms";
@import "./css/modal";
@import "./css/donations";
